@inherits RaccoonBlog.NancyFE.RazorViewBase<RaccoonBlog.NancyFE.ViewModels.IPageLayout>
@{
    Bundles.Reference("~/content/css/metro.css");
}              
<!DOCTYPE html>
<html>
    <head>
        <title>@Model.Title</title>
        <meta name="description" content="@Model.Description"/>
        @Bundles.RenderStylesheets()        
        <style type="text/css">
            body {
                margin: 12px;
            }

            body * { background-color: white; }
        </style>
    </head>
    <body class="blackbg">
        <section class="whitebg" style="padding: 12px">
            <section>
                <header><h1 class="black">@Model.Subtitle</h1></header>
                @RenderBody()
                <footer>
                    <small>&copy; @Model.Copyright</small>
                </footer>
            </section>
        </section>
    </body>
</html>