@inherits RaccoonBlog.NancyFE.RazorViewBase<RaccoonBlog.NancyFE.ViewModels.IPageLayout>
@{
    Bundles.Reference("~/content/css/main.less");
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <meta name="description" content="@Model.Description"/>
    @Bundles.RenderStylesheets()
</head>
<body>
    <section class="container">
        <div class="row">
            <section class="span8">
                <header>
                    <h1><a href="~/">@Model.Subtitle</a></h1>
                </header>
                @RenderBody()
                <footer>
                    <small>&copy; @Model.Copyright</small>
                </footer>
            </section>
            <aside class="span4">
                @RenderSection("sidebar", false)
            </aside>
        </div>
    </section>
    @Bundles.RenderScripts()
</body>
</html>
