@inherits RaccoonBlog.NancyFE.RazorViewBase<RaccoonBlog.NancyFE.ViewModels.IPageLayout>
@{
    Bundles.Reference("~/content/css/main.less");
}              
<!DOCTYPE html>
<html>
    <head>
        <title>@Model.Title</title>
        <meta name="description" content="@Model.Description"/>
        @Bundles.RenderStylesheets()        
    </head>
    <body>
        <section class="container" >
            <section>
                <header>
                    <h1><a href="~/">@Model.Subtitle</a></h1>
                </header>
                @RenderBody()
                <footer>
                    <small>&copy; @Model.Copyright</small>
                </footer>
            </section>
        </section>
    </body>
</html>