@inherits RaccoonBlog.NancyFE.RazorView<RaccoonBlog.NancyFE.ViewModels.BlogPostViewModel>
<article>
    <header>
        <h2>@Model.Title</h2>
        <address>by <a href="http://twitter.com/@Model.Author" rel="author">@Model.Author</a></address>
        <time pubdate datetime="@Model.PublishAt.ToString("u")" class="date" >@Model.PublishAt.ToString("u")</time>
    </header>
    @Html.Raw(@Model.Body)
</article>