@inherits RaccoonBlog.NancyFE.RazorView<RaccoonBlog.NancyFE.ViewModels.BlogPostViewModel>
<article>
    <header>
        <h2>@Model.Title</h2>
        <time class="date">@Model.PublishAt.ToString("u")</time>
        <a href="http://twitter.com/@Model.Author" rel="author">@Model.Author</a>
    </header>
    @Html.Raw(@Model.Body)
</article>