@inherits RaccoonBlog.NancyFE.RazorView<RaccoonBlog.NancyFE.ViewModels.BlogPostsViewModel>
@{
    Bundles.Reference("~/scripts/app/taglist.coffee");
}
@foreach (var post in Model)
{
    <article>
        <header>
            <h2><a href="/@post.Path">@post.Title</a></h2>
            <time pubdate datetime="@post.PublishAt.ToString("u")" class="date" >@post.PublishAt.ToString("u")</time>
            <address>by <a href="http://twitter.com/@post.Author" rel="author">@post.Author</a></address>
        </header>
        @Html.Raw(post.Body)
    </article>
    <hr />
}
@section sidebar {
    @Html.Partial("shared/TagList", Model.Tags)
}